.container-search-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 270px;
    background-color: #E6F7FF;
    border-radius: 16px;
    width: 90%;
    margin: 54px auto;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    margin-left: 31px;
}

.content h1 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 12px;
    color: #262626;
 }
 
  .content input {
     height: 40px;
     width: 300px;
     font-size: 16px;
     margin-bottom: 24px;
     border: 1px solid #D9D9D9;
     border-radius: 4px;
     border-style: none;
     color: #5C5858;
     padding-left: 17px;
     outline: none;
     background-color: #FFF;
 }

 .content input::placeholder {
    color: #BFBFBF;
 }
 
 .content button {
    display: block;
     height: 40px;
     width: 100px;
     font-size: 16px;
     background-color: #1890FF;
     color: #FFF;
     border-radius: 4px;
     border-style: none;
     cursor: pointer;
 }

 @media (max-width: 575px) {
    .content h1 {
        font-size: 28px;
       
    }
 }

 @media (max-width: 450px) {
    
    .content h1 {
        font-size: 22px;
       
    }

    .content input {
        width: 200px;
    }
}
 @media (max-width: 450px) {
    
    .content h1 {
        font-size: 22px;
       
    }

    .content input {
        width: 200px;
    }
}